/* reset */
*{
  box-sizing: border-box;
}

/* landing */
.landing{
    margin-top: 0;
    padding-top: 0;
    color: white;

    /* 드래그 방지 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.landing .header{
  z-index: 2;
  background-color: rgba(0, 0, 0, 0); /* 초기에는 투명한 배경 */
  color: white;
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;  transition: background-color 0.3s ease; /* 배경 변화에 트랜지션 추가 */
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.6rem 0 1rem;
}

.landing .div-account{
  position: relative;
  top: -0.25rem;
  margin: auto 0;
}

.landing .div-account a{
  color: white;
  font-size: calc(0.5rem + 0.5vw);
  padding: calc(0.1rem + 0.1vw) calc(0.3rem + 0.5vw);
  margin: calc(0.2rem);
  cursor: pointer;
}

.landing .div-account .signup{
  background-color: #1C358E;
  border: 1px solid #1C358E;
  border-radius: 5px;
}

.landing .div-account .login{
  border: 1px solid white;
  border-radius: 5px;
}

.landing section{
    text-align: center;
}

.landing .h1-jfamLogo img{
    width: calc(35px + 3vw);
    height: calc(15px + 2vw);
}


.landing .section-promotion-top{
    padding: 17% 0;
    height: calc(23.875rem + 3%);
    background: linear-gradient(180deg, rgba(0,0,0,0.644429347826087) 0%, rgba(0,0,0,0.9052989130434783) 90%, rgba(0,0,0,1) 100%), url('/src/assets/landing/background-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  
.landing .p-copywriting{
    font-size: calc(0.4rem + 2vw);
    font-weight: 700;
    line-height: 140%; /* 22.4px */
}

.landing .p-promoMessage{
    margin: 0 auto 2vw auto;
    color: var(--gray-300,#a6a6a6);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Paragraph/Small */
    font-size: calc(0.3rem + 1vw);
    font-weight: 400;
    line-height: calc(0.5rem + 1.5vw); /* 19.205px */
}

.landing .a-signupLink{
    margin: 0 auto;
    color: white;
    display: flex;
    width: calc(15rem + 10vw);
    font-size: calc(0.8rem + 0.3vw);
    height: calc(2.5rem + 1vw);
    padding: 0rem 1.75rem 0rem 2.7rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--brand-red-2, #1C358E);
    background-image: url('/src/assets/landing/button_before_logo.png');
    background-repeat: no-repeat;
    background-size: calc(2rem + 1vw);
    background-position: calc(0.6rem + 0.8vw)0;
  }

  .landing .a-signupLink span[lang="en"]{
    padding-right: 0.3125rem;
  }

.landing .h2-sectionTitle{
    color: var(--white, #FFF);
    text-align: center;
    padding-top: 10vw;
    
    /* Heading/Large */
    font-size:  calc(1rem + 1vw);
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 29.859px */
}

/* 스켈레톤 스와이퍼 */
@keyframes skeleton-gradient {
  0% {
      background-color: rgb(47, 80, 198,0.5);
  }

  50% {
    background-color: rgb(47, 80, 198,0.7);
  }

  100% {
    background-color: rgb(47, 80, 198,0.5);
  }
}

.landing .skeleton-swiper-wrapper{
  padding: 0 10px;
  width: 100%;
  height: calc((100vw - 60px) / 3 * 1.3 + 10px);
  display: flex;
  justify-content: space-between;
}

.landing .skeleton-swiper{
  animation: skeleton-gradient 1.8s infinite ease-in-out;
  width: calc((100% - 60px) / 3);
  height: 100%;
  border-radius: 10px;
}

/* 스와이퍼 */
.landing .swiper-wrapper img{
  width: 100%;
  max-width: 470px;
  border-radius: 10px;
}

/* 스켈레톤 슬라이더 */
.landing .skeleton-animswiper-wrapper{
  width: 100%;
  height: calc(1rem + 10vw);
  display: flex;
  overflow: hidden;
}

.landing .skeleton-animswiper-wrapper:nth-child(1) .skeleton-animswiper{
  animation: skeleton-gradient 1.8s infinite ease-in-out;
  margin-bottom: 0.5vw;
  margin-right: 5px;
  width: calc((17rem + 10vw)) ;
  height: calc(1rem + 10vw);
  position: relative;
  left: 20px;
}

.landing .skeleton-animswiper-wrapper:nth-child(2) .skeleton-animswiper{
  animation: skeleton-gradient 1.8s infinite ease-in-out;
  margin-top: 0.5vw;
  margin-right: 5px;
  width: calc((17rem + 10vw)) ;
  height: calc(1rem + 10vw);
  position: relative;
  left: -50px;
}


/* 슬라이더 */
@keyframes sliding{
  from{
    transform: translate(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.landing .div-slider{
  overflow: hidden;
  white-space: nowrap;
}

.landing .div-slide__one,
.landing .div-slide__two
{
  display: inline-block;
  animation: 40s sliding infinite linear;
}

.landing .div-slider img{
  width: 23vw;
  max-width: 18.75rem;
}

.landing .div-slide__three,
.landing .div-slide__four
{
  display: inline-block;
  animation: 35s sliding infinite linear;

}

.landing .div-slide img{
  height: 6.375rem;
  padding: 0 5px;
}

.landing .section-promotion-bottom{
  padding: 13vw 0px;
  height: calc(20rem + 3%);
}

.landing .section-promotion-bottom div{
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 20rem;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    padding: 0 auto;
}

.landing .section-promotion-bottom .img-jfamLogo{
    width: calc(4rem + 7vw);
}

.landing .section-promotion-bottom p{
  margin: 0.5vw 0;
  font-size: calc(0.5rem + 1vw);
}

@media screen and (min-width: 768px){
  .landing .section-promotion-bottom .svg-logo{width: 8.4375rem; height: 3.25rem;}
}

@media screen and (min-width: 1920px){
  .landing .skeleton-swiper-wrapper{
    height: calc((100vw - 60px) / 5);
  }
  .landing .swiper-wrapper img{
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
  }
  .landing .section-promotion-bottom .svg-logo{width: 17.4375rem; height: 6.875rem;}
}