body {
  background-repeat: no-repeat;
  background-image: url(/src/assets/bg.png);
  height: 100vh;
  background-size:cover;
  
  
}

#app {
text-align: center;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

h1 img {
  width: 240px;
  padding-bottom: 40px;
}

a {
  display: inline-block;
  color: white;

  

}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

