body {
  background-repeat: no-repeat;
  background: linear-gradient(to left bottom, #3051c6 -0.3%, #6931e2 100.83%);
  height: 100vh;
  background-size: cover;
}

#app {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-53%, -54%);
}

h1 img {
  width: 320px;
}
