@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '/src/styles/common.css';

:root {
  --margin-m: 2vw;
}

.main .swiper {
  width: 100%;
  height: 100%;
}

.main-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}
/* -------------------------------------------------------------------------- */
/* 빅배너 영역 */

.main .bigbanner {
  /* background: blueviolet; */
  position: relative;
  --swiper-navigation-size: 1.5rem;
  --swiper-navigation-color: white;
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-inactive-color: #b3b3b3;
}

.main .bigbanner .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
  min-height: 140px;
}
.main .bigbanner .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.main .bigbanner-dim {
  width: 100%;
  height: 3.75rem;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

.main .bigbanner-inner {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 0 calc(2 * var(--margin-m));
  bottom: calc(var(--margin-m) * 1.5 + 1vw);
}
.main .bigbanner-container {
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .bigbanner-inner h2 {
  font-weight: 800;
  color: white;
  font-size: 0.75rem;
}
.main .bigbanner-inner a {
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid white;
  border-radius: 4px;
}
.main .bigbanner-inner a:hover {
  cursor: pointer;
  background: white;
  color: black;
}

/* -------------------------------------------------------------------------- */
/* 프로그램 영역 */
.main .programs {
  padding: 0 var(--margin-m);
}
.main .programs > section {
  padding-bottom: 2rem;
}

.main .programs h2 {
  font-weight: 600;
  padding-bottom: 0.25rem;
  color: white;
  font-size: 0.75rem;
}

/* 썸네일 @모바일 320px*/
.main .programs img {
  border-radius: 4px;
  display: block;
}
.main .thumbnail-vertical {
  width: 5.7rem;
}
.main .thumbnail-horizontal {
  width: 9rem;
}
.main .thumbnail-long {
  width: 8.9rem;
}

.main .ad-area img {
  border-radius: 4px;
  display: block;
  width: 100%;
}
.main .event-area img {
  border-radius: 4px;
  display: block;
  width: 9rem;
}

.main .ad-area {
  width: 100%;
}
.main .event-area {
  padding-bottom: 3rem;
}

/* -------------------------------------------------------------------------- */
.main .programs {
  overflow: hidden;
}
.main .programs .thumbnail-wrap {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
}

/* 기본 알맹이 디자인 */
.main .now-see figcaption,
.main .must-see figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
}

/* quickvod */
.main .quickvod figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
  font-weight: 600;
}
.main .quickvod p {
  font-size: 0.75rem;
  color: var(--gray--300);
}

/* popular-title */
.main .popular-title figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
  font-weight: 600;
  display: flex;
  align-items: baseline;
  /* gap: 0.25rem; */
}
.main .popular-title em {
  font-family: 'Noto Sans KR';
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  transform: skew(-15deg);
  line-height: 0;
}
/* popular-live  */
.main .popular-live figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
  font-weight: 400;
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
  line-height: 1.4;
}
.main .popular-live em {
  font-family: 'Noto Sans KR';
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  transform: skew(-15deg);
  line-height: 0;
}

.main .popular-live figcaption span {
  display: block;
  font-weight: 400;
  color: var(--gray--300);
}

/* ---------------------------------@@@@@@@@--------------------------------- */
/* 1. 전체 좌우 여백    */
/* 2. 썸넬 사이 여백    */
/* 3. 썸넬 너비        */
/* 4. 폰트 크기 -h2    */
/* 5. 폰트 크기 -타이틀  */

/* 썸네일 @모바일 320px */

@media screen and (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: calc(16px + 0.5vw);
  }
}

/* @미디어쿼리 - 태블릿  768px */
@media screen and (min-width: 768px) {
  :root {
    --margin-m: 2vw;
  }

  html {
    font-size: calc(16px + 0.6vw);
  }
  .main .programs .thumbnail-wrap {
    gap: calc(0.3rem + 0.1vw);
  }
  .main .thumbnail-vertical {
    width: 6rem;
  }
  .main .thumbnail-horizontal {
    width: 10rem;
  }

  .main .event-area img {
    width: 11rem;
  }

  .main .programs figcaption {
    font-size: 0.6rem;
  }
  .main .bigbanner-inner a {
    padding: calc(0.3rem + 0.1vw) calc(0.5rem + 2vw);
  }
  .main .bigbanner-inner {
    padding: 0 calc(1.2 * var(--margin-m));
    bottom: calc(var(--margin-m) * 1.2 + 1vw);
  }
}

/* @미디어쿼리 - pc  1920px */
@media screen and (min-width: 1200px) {
  :root {
    --margin-m: 4vw;
  }
  html {
    font-size: calc(16px + 0.6vw);
  }

  .main .bigbanner-inner {
    bottom: calc(var(--margin-m) * 0.8);
  }
  .main .bigbanner-inner h2 {
    font-size: 0.9rem;
  }
  .main .bigbanner-inner a {
    font-size: 0.8rem;
    padding: calc(0.4rem + 0.1vw) calc(0.6rem + 2vw);
  }
}
/* -------------------------------------------------------------------------- */
/* 스와이퍼 커스텀 */
.main .programs > section:not(:last-child) {
  --swiper-navigation-color: white;
  --swiper-navigation-size: 2.2rem;
  --swiper-navigation-top-offset: 5%;
  --swiper-navigation-sides-offset: calc(0.6 * var(--margin-m));
}
.main .programs > section:last-child {
  --swiper-navigation-color: white;
  --swiper-navigation-size: 2.2rem;
  --swiper-navigation-top-offset: 35%;
  --swiper-navigation-sides-offset: calc(0.6 * var(--margin-m));
}

.main .programs .swiper-slide {
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.main .programs .swiper-slide:hover {
  transform: translateY(-10px);
  transition-property: all;
  border-radius: 4px;
}

.main .programs .swiper-button-prev {
  height: 100%;
  opacity: 0;
}
.main .programs .swiper-button-next {
  height: 100%;
  opacity: 0;
}
.main .swiper-button-prev:hover {
  transition: opacity 0.3s ease;
  opacity: 1;
}
.main .swiper-button-next:hover {
  transition: opacity 0.3s ease;
  opacity: 1;
}

/* 클릭시 동적으로 추가 : 음수로 해결 네거티브 마진 */
/* .is-active {
  background: yellow; */
/* margin: 0 calc(-1 * var(--margin-m)); */
/* width: 100vw; */
/* margin-left: calc(-1 * var(--margin-m) - 92px); */
/* transform: translateX(calc(-1 * var(--margin-m))) scaleX(100vw); */
/* width: 100vw; */
/* } */
/* .onlytving .swiper-wrapper {
  width: 100%;
  transform: translateX(-40px);
} */
