@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --margin-m: 2%;
}
* {
  font-family: 'Pretendard-Regular', 'Noto Sans KR', Arial, 'sans-serif';
    line-height: 1.7;
    box-sizing: border-box;
    word-break: keep-all;
}
a {
  text-decoration: none;
}
.main {
  background: DarkSlateBlue;
}
/*------------------------------ 최상단배너 ------------------------------*/
.main .bigbanner {
  background: yellow;
  position: relative;
}
.bigbanner-img {
  background: LightBlue;
  display: block;
  width: 100%;
}
.bigbanner-inner {
  background: olive;
  position: absolute;
  width: 100%;
  bottom: 5%;
}
.bigbanner-container {
  margin: 0 var(--margin-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bigbanner-copy {
  font-weight: 800;
  color: white;
  font-size: 0.75rem;
}
.bigbanner-button {
  font-size: 0.75rem;
  padding: 4px 6px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  font-weight: 400;
}

/*------------------------- 프로그램 영역 -------------------------*/
.programs h2 {
  font-weight: 600;
  margin-bottom: calc(var(--margin-m) / 4);
  color: white;
}
.programs img {
  border-radius: 4px;
  display: block;
}
.programs .thumbnail-wrap {
  background: RosyBrown;
  display: flex;
  gap: var(--margin-m);

}

.now-see,
.must-see,
.quickvod,
.top-title,
.top-live,
.onlytving {
  background: SteelBlue;
  padding-left: var(--margin-m);
  margin-bottom: var(--margin-m);
  overflow: hidden;
}
/* 썸네일 */

.thumbnail-vertical {
  width: 92px;
}
.thumbnail-horizontal {
  width: 145px;
}
.thumbnail-long {
  width: 140px;
}

/* 페이지 구분 */
.now-see figcaption,
.must-see figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
}

/* 페이지 구분  quickvod */
.quickvod figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
  font-weight: 600;
}
.quickvod p {
  font-size: 0.75rem;
  color: var(--gray--300);
}

/* 페이지 구분 top-title */
.top-title figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
  font-weight: 600;
  display: flex;
  align-items: baseline;
  gap: 4px;
}
.top-title em {
  font-family: 'Noto Sans KR';
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  transform: skew(-15deg);
  line-height: 0;
}
/* 페이지 구분 top-live  */
.top-live figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
  font-weight: 400;
  display: flex;
  align-items: baseline;
  gap: 4px;
}
.top-live em {
  font-family: 'Noto Sans KR';
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  transform: skew(-15deg);
  line-height: 0;
}
.top-live span{
  line-height: 1.4;

}
.top-live figcaption p {
  font-weight: 400;
  color: var(--gray--300);
}

/* 페이지 구분 onlytving  */
.onlytving figcaption{
  display: none;
}

/*------------------------------ 광고 영역 ------------------------------*/

.ad-area{
  background: SteelBlue;
  width: 100%;
  padding: calc(var(--margin-m) * 1.5) var(--margin-m);
}
.ad-area img{
  border-radius: 4px;
  display: block;
  width: 100%;
}
.event-area {
  background: indianred;
  padding-left: var(--margin-m);
  padding-bottom: calc(var(--margin-m) * 2);
  overflow: hidden;
}
.event-banner-wrap{
  background: salmon;
  display: flex;
  gap: var(--margin-m);
}
.event-area img{
  border-radius: 4px;
  display: block;
  width: 145px;
}