@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --margin-m: 2vw;
}
* {
  font-family: 'Pretendard-Regular', 'Noto Sans KR', Arial, 'sans-serif';
  line-height: 1.7;
  box-sizing: border-box;
  word-break: keep-all;
  /* background: black; */
  
}
.sr-only {
  background: red;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  /* clip: rect(0, 0, 0, 0); */
  /* border-width: 0; */
}

body {
  background: black;
  position: relative;
  
}

.swiper {
  width: 100%;
  height: 100%;
}

/* -------------------------------------------------------------------------- */
/* 빅배너 영역 */

.bigbanner {
  /* background: blueviolet; */
  /* width: 100%; */
  /* max-height: 80vh;
  min-height: 140px; */
  position: relative;
  --swiper-navigation-size: 20px;
  --swiper-navigation-color: white;

}
/* ----------------------------------- */
/* 빅배너 스와이퍼 */
.bigbanner .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigbanner .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.bigbanner-dim{
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.bigbanner-inner {
  /* background: olive; */
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: calc(var(--margin-m) * 2);
}

.bigbanner-container {
  margin: 0 var(--margin-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bigbanner h3 {
  font-weight: 800;
  color: white;
  font-size: 0.75rem;
}
.bigbanner a {
  color: white;
  font-weight: 400;
  font-size: 0.75rem;
  padding: 4px 6px;
  border: 1px solid white;
  border-radius: 4px;
}

/* -------------------------------------------------------------------------- */
/* 프로그램  */

.programs h2 {
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: white;
  font-size: 0.75rem;
}

/* 썸네일 @모바일 320px*/
.programs img {
  border-radius: 4px;
  display: block;
}
.thumbnail-vertical {
  width: 92px;
}
.thumbnail-horizontal {
  width: 145px;
}
.thumbnail-long {
  /* width: 140px; */
  /* width: 0.43vw; */
  width: 8.9rem;
}

.programs .thumbnail-wrap {
  /* background: RosyBrown; */
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
}


/* -----!!!!!!!!----------------------------------------------------- */
/* 여백 및 스와이퍼 공통 */
.programs {
  margin: 0 50px;
  /* margin: 0 var(--margin-m); */
  --swiper-navigation-color: white;
}

.only-swiper{
  box-sizing: content-box;
  margin: 0 ;

}

.programs > section{
  margin-bottom: 1.2rem;
  width: 100%;
}
.ad-area {
  width: 100%;
  /* padding-right: var(--margin-m); */
}
.event-area{
  padding-bottom: 3rem;
}

.programs .swiper-slide {
  width: auto;
}

.programs .swiper-button-prev{
  height: 100%;
  opacity: 0;
  /* background: linear-gradient(to left, #00000000, #000000); */
}
.programs .swiper-button-next{
  height: 100%;
  opacity: 0;
  /* background: linear-gradient(to right, #00000000, #000000); */
}
.swiper-button-prev:hover{
  transition: opacity 0.3s ease;
  opacity: 1;
}
.swiper-button-next:hover{
  transition: opacity 0.3s ease;
  opacity: 1;
}
/* -------------------------------------------------------------------------- */

/* 기본 프로그램 */
.now-see figcaption,
.must-see figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
}

/* quickvod */
.quickvod figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
  font-weight: 600;
}
.quickvod p {
  font-size: 0.75rem;
  color: var(--gray--300);
}

/* popular-title */
.popular-title figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
  font-weight: 600;
  display: flex;
  align-items: baseline;
  /* gap: 0.25rem; */
}
.popular-title em {
  font-family: 'Noto Sans KR';
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  transform: skew(-15deg);
  line-height: 0;
}
/* popular-live  */
.popular-live figcaption {
  font-size: 0.75rem;
  color: var(--gray--200);
  font-weight: 400;
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
  line-height: 1.4;
}
.popular-live em {
  font-family: 'Noto Sans KR';
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  transform: skew(-15deg);
  line-height: 0;
}

.popular-live figcaption span {
  display: block;
  font-weight: 400;
  color: var(--gray--300);
}

/* 광고영역 */

.ad-area img {
  border-radius: 4px;
  display: block;
  width: 100%;
}

.event-area img {
  border-radius: 4px;
  display: block;
  width: 145px;

}

/* ---------------------------------@@@@@@@@--------------------------------- */
/* @미디어쿼리 - 태블릿 */
/* @media (min-width: 768px) { */
@media (min-width: 1968px) {
  :root {
    --margin-m: 4vw;
  }
  /* 폰트 사이즈 */
  .bigbanner-container h3,
  .programs h2 {
    font-size: 1rem;
  }
  .bigbanner-container a {
    font-size: 0.8rem;
    padding: 12px 34px;
  }
  /* 여백 */
  .programs h2 {
    margin-bottom: 0.5rem;
  }
  .now-see,
  .must-see,
  .quickvod,
  .popular-title,
  .popular-live,
  .onlytving,
  .event-area {
    margin-bottom: 1.8rem;
  }
  .ad-area {
    padding: 1.8rem var(--margin-m);
  }
  /* 이미지사이즈 */
  .thumbnail-vertical {
    width: 130px;
  }
  .thumbnail-horizontal {
    width: 224px;
  }
  /* .thumbnail-long {
    width: 168px;
  } */
  .event-area img {
    width: 214px;
  }
}

/* ---------------------------------@@@@@@@@----------------------------------- */
/* @미디어쿼리- pc 사이즈 */
@media (min-width: 1920px) {
  :root {
    --margin-m: 3vw;
  }
  .bigbanner-container h3,
  .programs h2 {
    font-size: 1.8rem;
  }
  .bigbanner-container a {
    font-size: 1.5rem;
    padding: 22px 64px;
  }

  .programs h2 {
    margin-bottom: 0.75rem;
  }
  /* 여백 */
  .programs .thumbnail-wrap {
    gap: 1rem;
  }
  .now-see,
  .must-see,
  .quickvod,
  .popular-title,
  .popular-live,
  .onlytving,
  .event-area {
    margin-bottom: 2.25rem;
  }
  .ad-area {
    padding: 2.25rem var(--margin-m);
  }

  /* 이미지 크기 */
  .thumbnail-vertical {
    width: 240px;
  }
  .thumbnail-horizontal {
    width: 345px;
  }
  /* .thumbnail-long {
    width: 285px;
  } */
  .event-area img {
    width: 346px;
  }
  /* 폰트 크기 */
  .programs figcaption {
    font-size: 1.3rem;
  }
  .quickvod p,
  .popular-live p {
    font-size: 1rem;
  }
}
