:root {
  /* Color styles */
  --black: #000000;
  --white: #ffffff;
  --gray--100: #eeeeee;
  --gray--200: #d5d5d5;
  --gray--300: #c8c8c8;
  --gray--400: #b4b3b3;
  --gray--500: #939393;
  --gray--600: #565656;
  --gray--700: #404040;
  --gray--800: #2b2b2b;
  --gray--900: #151515;
  --brand--red-1: #446bf9;
  --brand--red-2: #1c358e;
  --brand--dark-bg-1: #191919;
  --brand--dark-bg-2: #212121;

  /* font styles */
  --heading---medium: 1rem;
  --heading---large: 1.33rem;
  --heading---x-l: 1.78rem;
  --heading---x-x-l: 2.37rem;
  --heading---x-x-x-l: 3.16rem;
  --label---small: 0.75rem;
  --label---medium: 1rem;
  --label---large: 1.33rem;
  --label---x-l: 1.78rem;
  --label---x-x-l: 2.37rem;
  --paragraph---small: 0.75rem;
  --paragraph---medium: 1rem;
  --paragraph---large: 1.33rem;
  --paragraph---x-l: 1.78rem;
}
